@* For more information on enabling MVC for empty projects, visit
https://go.microsoft.com/fwlink/?LinkID=397860 *@ @{ }

<div class="rooms">
	<div class="rooms__header">
		<button
			class="btn"
			data-bs-toggle="modal"
			data-bs-target="#createModal"
		>
			Создать
		</button>
		<input
			class="input"
			type="text"
			placeholder="Поиск"
		/>
	</div>
	<div class="rooms__items"></div>
</div>

@await Html.PartialAsync("_CreateRoomModal.cshtml");
@await Html.PartialAsync("_EnterRoomModal.cshtml");
@await Html.PartialAsync("_RoomModal.cshtml");

@section Scripts {
<script
	src="~/js/views/rooms/index.js"
	asp-append-version="true"
	type="module"
></script>
}
