@* For more information on enabling MVC for empty projects, visit
https://go.microsoft.com/fwlink/?LinkID=397860 *@ @{ }

<div class="rooms">
	<div class="rooms__header">
		<button
			class="btn"
			data-bs-toggle="modal"
			data-bs-target="#createModal"
		>
			Создать
		</button>
		<input
			class="input"
			type="text"
			placeholder="Поиск"
		/>
	</div>
	<div class="rooms__items"></div>
</div>

<div
	id="createModal"
	class="modal"
	tabindex="-1"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Создание комнаты</h5>
				<button
					type="button"
					class="btn-close btn-close-white"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<div class="modal-body__name item">
					<label for="">Название</label>
					<input
						id="roomName"
						class="input"
						type="text"
						placeholder="Название комнаты"
					/>
				</div>
				<div class="contact__password item">
					<label for="">Пароль</label>
					<input
						id="roomPassword"
						class="input"
						type="text"
						placeholder="Введите пароль"
					/>
				</div>
			</div>
			<div class="modal-footer">
				<button
					id="createRoom"
					type="button"
					class="btn btn-primary"
				>
					Сохранить
				</button>
			</div>
		</div>
	</div>
</div>

<div
	id="roomModal"
	class="modal"
	tabindex="-1"
>
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="currentRoomName">Комната </h5>

				<button 
					type="button"
					class="btn btn-primary"
					id="exitRoomBtn"
					data-bs-dismiss="modal"
					aria-label="Close"
				>
				Выйти
				</button>

			</div>
			<div class="modal-body">
				<div class="room">
					<div class="room__players">
						<div 
							class="room-player" 
							id="player">
							<div class="room-player__avatar">
								<img
									class="room-player__logo circle"
									src="/img/gambler.ico"
									alt=""
								/>
							</div>
							<div
								id="playerNickname"
								class="room-player__nickname">
								Nick
							</div>
							<img 
								class="room-player__ready d-none"
								id="playerready"
								src="/img/ready.ico"
								alt="" 
							/>
						</div>

						<img
							class="room-player__vs"
							src="/img/vs.ico"
							alt=""
						/>

						<div 
							class="room-player" 
							id="opponent">
							<div class="room-player__avatar">
								<img
									class="room-player__logo circle"
									src="/img/zhdun.ico"
									alt=""
								/>
							</div>
							<div
								id="opponentNickname"
								class="room-player__nickname">
								Пока никого нет...
							</div>
							<img class="room-player__ready d-none"
								id="opponentready"
								src="/img/ready.ico"
								alt="" 
							/>
						</div>
					</div>

					<button 
						type="button"
						class="btn btn-primary room__readybtn"
					>
						Готов
					</button>

					<button 
						type="button"
						class="btn btn-primary room__playbtn"
					>
						Играть
					</button>

				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
<script
	src="~/js/views/rooms/index.js"
	asp-append-version="true"
	type="module"
></script>
}
