@import './vars';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

.container-fluid {
	background-color: $background;
	min-height: 100vh;
}

main {
	padding-top: 100px;
	padding-left: 40px;
	padding-right: 40px;
}

// Components
@import './components/header', './components/rooms';
