<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameApp.Mvc</title>
    @await Html.PartialAsync("Layout/_Styles")
</head>
<body>
    <header class="header">

        <nav class="header__navbar">
            <img 
                class="header__logo" 
        	    src="~/img/logo.ico"
			    alt="logo"
            />
            <ul class="header__nav">
                <li>
                    <a
                        asp-area=""
                        asp-controller="Home"
                        asp-action="Index">
                        Home
                    </a>
                </li>
                <li>
                    <a 
                        asp-area=""
                        asp-controller="Home"
                        asp-action="Privacy">
                        Privacy
                    </a>
                </li>
            </ul>
        </nav>
            <div class="user-area">
                <img class="user-area__avatar circle"
                    src="~/img/boy.ico"
			        alt="avatar"
                />
                <div class="user-area__block">
                    <span class="user-area__raiting">12 mmr</span>
                    <span class="user-area__login"></span>
                    <a class="user-area__exit" id="exitbtn" asp-controller="Account" asp-action="Logout">Выход</a>
                </div>
            </div>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - GameApp.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await Html.PartialAsync("Layout/_Scripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
