@using GameApp.Mvc.ViewModels.Account
@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация - GameApp.Mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div class="container-fluid">

        <div class="card">
            <h5 class="card-header">Авторизация</h5>
            <div class="card-body">
                <form method="post" asp-controller="Account" asp-action="Login" class="account">

                    <div class="mb-3">
                        <label asp-for="Login" class="form-label">Логин</label>
                        <input asp-for="Login" type="text" class="form-control" placeholder="Введите логин">
                        <span asp-validation-for="Login" style="color: red"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Пароль</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Введите пароль" value="@Model?.Password">
                        <span asp-validation-for="Password" style="color: red"></span>
                    </div>
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Войти</button>
                        <a asp-area=""
                           asp-controller="Account"
                           asp-action="Register"
                           class="links">
                            Регистрация
                        </a>
                    </div>

                    @if (ViewBag.ValidationMessage != null)
                    {
                        <span style="color: red">@ViewBag.ValidationMessage</span>
                    }
                </form>
            </div>
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - GameApp.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/views/account/login.js"></script>

</body>
</html>