.room {
	display: flex;
	align-items: center;
	flex-direction: column;

	&__players {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 40px;
	}

	.btn + .btn {
		margin-top: 20px;
	}
}

.room-player {
	display: flex;
	align-items: center;
	flex-direction: column;

	&__logo {
		width: 100px;
		margin-bottom: 10px;
	}

	&__vs {
		width: 60px;
		margin-bottom: 10px;
		margin-left: 40px;
		margin-right: 40px;
	}

	&__ready {
		margin-top: 15px;
		width: 50px;
	}

	#opponentready {
		//visibility: hidden;
	}

	#playerready {
		//visibility: hidden;
	}
}
