@model int

<div
    id="gameModal"
	class="modal"
	tabindex="-1"
    data-room-id="@Model"
>
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
                <h5>Игра: <span id="gameId"></span> </h5>
                <h5>Ваша фигура: <span id="figure"></span> </h5>
                <h5>Ход: <span id="whoseMove"></span> </h5>
			</div>
			<div class="modal-body">

                <div class="game">

                    <table class="field">
                        <tr>
                            <td data-cell-number="0" class="cell"></td>
                            <td data-cell-number="1" class="cell"></td>
                            <td data-cell-number="2" class="cell"></td>
                        </tr>
                        <tr>
                            <td data-cell-number="3" class="cell"></td>
                            <td data-cell-number="4" class="cell"></td>
                            <td data-cell-number="5" class="cell"></td>
                        </tr>
                        <tr>
                            <td data-cell-number="6" class="cell"></td>
                            <td data-cell-number="7" class="cell"></td>
                            <td data-cell-number="8" class="cell"></td>
                        </tr>
                    </table>

                </div>

			</div>
		</div>
	</div>
</div>

@section Scripts {
    <script
        src="~/js/views/games/index.js"
        asp-append-version="true"
        type="module"
    ></script>
}


