.game {
    display: flex;
    justify-content: center;
    color: $count-text;

    table {
        width: 40%;
        border: none;
        border-collapse: separate;
        border-spacing: 1.5em;
        empty-cells: hide;
    }

    tr {
        border: 2px solid $count-text;
    }

    td {
        width: 33.33%;
        position: relative;
        border: 2px solid $count-text;
    }

    td:after {
        content: '';
        display: block;
        margin-top: 100%;
    }
}
