.game {
    display: flex;
    justify-content: center;
    color: $count-text;

    table {
        width: 40%;
        border: none;
        border-collapse: separate;
        border-spacing: 1.5em;
        empty-cells: hide;
    }

    tr {
        border: 2px solid $count-text;
    }

    td {
        text-align: center;
        vertical-align: middle;
        width: 33.33%;
        position: relative;
        border: 2px solid $count-text;
        background-size: 100% 100%;
    }

    td:after {
        content: '';
        display: block;
        margin-top: 100%;
    }

    img {
        width: 70%;
        margin: 20px;
    }
}
