.rooms {
	background-color: $background-component;
	border-radius: $border-card-radius;
	padding: 45px;
	align-items: center;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: $border-card-radius;
		background: $background;
		color: $white-text;
		padding: 10px 40px 10px 10px;
		font-size: 20px;
		cursor: pointer;

		&.disabled {
			pointer-events: none;
			background: lighten($background, 20%);
		}

		& + & {
			margin-top: 20px;
		}
	}

	&__name {
		display: flex;
		align-items: center;
		color: $name-text;
	}

	&__enterbtn {
		margin-left: 20px;
	}

	&__info {
		display: flex;
		align-items: center;
		color: $count-text;
	}

	&__img {
		max-width: 70px;
		margin-right: 30px;
	}

	&__protection {
		max-width: 30px;
		margin-right: 30px;
	}
}

::placeholder {
	color: $btnbordercolor;
}
